:root {
    --background-1: #ffffff;
    --background-2: #f8f8f8;
    --background-backdrop: #f0f0f0;
    --background-translucent: rgba(255, 255, 255, 0.8);

    --border-1: #e0e0e0;
    --border-2: #d0d0d0;

    --main-color: #3286ff;
    --main-color-hover: #4285d6;
    --main-color-weak: #dae8ff;

    --text-1: #2c3e50;
    --text-2: #7B7B7B;
    --text-3: #a8a8a8;
    --text-inverse: #e3e3e3;

    --shadow: rgba(0, 0, 0, 0.05)
}


@media (prefers-color-scheme: dark) {
    :root {
        --background-1: #252526;
        --background-2: #1e1e1e;
        --background-backdrop: #2d2d30;
        --background-translucent: rgba(30, 30, 30, 0.8);

        --border-1: #3c3c3c;
        --border-2: #4b4b4b;
        --main-color: #5399f5;
        --main-color-hover: #4285d6;
        --main-color-weak: #a0c1ea;
        --text-1: #e7e7e7;
        --text-2: #c7c7c7;
        --text-3: #a8a8a8;
        --text-inverse: #383838;

        --shadow: rgba(0, 0, 0, 0.3);

    }
}

body {
    color: var(--text-1);
    background: var(--background-2);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
